In [2]:
import pandas as pd
df = pd.read_csv('developer_survey_2019/survey_results_public.csv')

In [41]:
df.sample(10)

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,OrgSize,DevType,YearsCode,Age1stCode,YearsCodePro,CareerSat,JobSat,MgrIdiot,MgrMoney,MgrWant,JobSeek,LastHireDate,LastInt,FizzBuzz,JobFactors,ResumeUpdate,CurrencySymbol,CurrencyDesc,CompTotal,CompFreq,ConvertedComp,WorkWeekHrs,WorkPlan,WorkChallenge,WorkRemote,WorkLoc,ImpSyn,CodeRev,CodeRevHrs,UnitTests,PurchaseHow,PurchaseWhat,LanguageWorkedWith,LanguageDesireNextYear,DatabaseWorkedWith,DatabaseDesireNextYear,PlatformWorkedWith,PlatformDesireNextYear,WebFrameWorkedWith,WebFrameDesireNextYear,MiscTechWorkedWith,MiscTechDesireNextYear,DevEnviron,OpSys,Containers,BlockchainOrg,BlockchainIs,BetterLife,ITperson,OffOn,SocialMedia,Extraversion,ScreenName,SOVisit1st,SOVisitFreq,SOVisitTo,SOFindAnswer,SOTimeSaved,SOHowMuchTime,SOAccount,SOPartFreq,SOJobs,EntTeams,SOComm,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
5820,5845,I am a developer by profession,Yes,Less than once per year,"OSS is, on average, of LOWER quality than prop...",Employed full-time,Hong Kong (S.A.R.),No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,20 to 99 employees,"Developer, desktop or enterprise applications;...",6,18,4,Slightly dissatisfied,Very dissatisfied,Not at all confident,Yes,Yes,I am actively looking for a job,More than 4 years ago,"Write code by hand (e.g., on a whiteboard);Int...",No,Industry that I'd be working in;Office environ...,I was preparing for a job search,HKD,Hong Kong dollar,NaN,Monthly,NaN,40.0,There is a schedule and/or spec (made by me or...,Lack of support from management;Not enough peo...,Less than once per month / Never,Office,A little below average,No,NaN,"No, but I think we should","The CTO, CIO, or other management purchase new...",I have little or no influence,Assembly;Bash/Shell/PowerShell;C++;HTML/CSS;Ja...,Dart;Go;Kotlin;Objective-C;TypeScript,Microsoft SQL Server;Oracle;SQLite,Cassandra;Firebase;MongoDB,Windows,Docker;Google Cloud Platform;Kubernetes;Windows,NaN,React.js,.NET;.NET Core,Flutter;.NET;.NET Core;Node.js;React Native,NetBeans;Visual Studio;Visual Studio Code,Windows,I do not use containers,Not at all,"Useful for decentralized currency (i.e., Bitcoin)",Yes,Also Yes,Yes,Facebook,In real life (in person),Username,2012,Multiple times per day,Find answers to specific questions,More than 10 times per week,They were about the same,NaN,Yes,Less than once per month or monthly,Yes,"No, and I don't know what those are","No, not at all",Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,27.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Easy
48725,49046,I am a developer by profession,No,Less than once per year,The quality of OSS and closed source software ...,"Independent contractor, freelancer, or self-em...",Iran,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,10 to 19 employees,"Developer, back-end;Developer, front-end;Devel...",7,15,2,Slightly satisfied,Slightly satisfied,NaN,NaN,NaN,"I’m not actively looking, but I am open to new...",Less than a year ago,"Write code by hand (e.g., on a whiteboard);Int...",No,Opportunities for professional development;How...,I was preparing for a job search,IRR,Iranian rial,NaN,Monthly,NaN,NaN,There is a schedule and/or spec (made by me or...,"Meetings;Non-work commitments (parenting, scho...",It's complicated,Office,A little above average,No,NaN,NaN,NaN,NaN,C#;HTML/CSS;JavaScript;SQL,C#;JavaScript;Python,MongoDB;Microsoft SQL Server;MySQL;Redis,Cassandra;Elasticsearch;Firebase;MongoDB;Micro...,Linux,Docker;IBM Cloud or Watson,ASP.NET;React.js,ASP.NET;Express;Flask;React.js,.NET Core;Node.js,.NET Core;Node.js;React Native,Visual Studio;Visual Studio Code,Windows,I do not use containers,NaN,"Useful for decentralized currency (i.e., Bitcoin)",No,Yes,Yes,NaN,In real life (in person),UserID,2013,Multiple times per day,Find answers to specific questions;Learn how t...,More than 10 times per week,They were about the same,NaN,Yes,A few times per month or weekly,Yes,"No, and I don't know what those are","Yes, somewhat",Somewhat more welcome now than last year,Tech articles written by other developers,24.0,Man,No,Straight / Heterosexual,Middle Eastern,No,Appropriate in length,Neither easy nor difficult
17941,18041,I am a student who is learning to code,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",NaN,India,NaN,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"I’m not actively looking, but I am open to new...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Java;Kotlin;PHP;Other(s):,Java;Kotlin;PHP;Other(s):,Firebase;SQLite,Firebase;SQLite,Android;iOS;Linux;MacOS,Android;iOS;Linux;MacOS,NaN,NaN,NaN,NaN,Android Studio;Xcode,MacOS,NaN,NaN,NaN,Yes,Also Yes,What?,I don't use social media,NaN,NaN,2015,Daily or almost daily,Find answers to specific questions;Contribute ...,3-5 times per week,Stack Overflow was much faster,0-10 minutes,Yes,A few times per week,"No, I knew that Stack Overflow had a job board...","No, and I don't know what those are","Yes, definitely",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59406,59785,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,"Independent contractor, freelancer, or self-em...",Hong Kong (S.A.R.),No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Information systems, information technology, o...",Taken an online course in programming or softw...,"Just me - I am a freelancer, sole proprietor, ...","Developer, front-end",15,13,6,Slightly dissatisfied,Slightly dissatisfied,NaN,NaN,NaN,I am actively looking for a job,Less than a year ago,Write any code;Interview with people in peer r...,No,Industry that I'd be working in;Remote work op...,I heard about a job opportunity (from a recrui...,HKD,Hong Kong dollar,18210.0,Monthly,27852.0,45.0,There is a schedule and/or spec (made by me or...,Inadequate access to necessary tools;Meetings;...,"More than half, but not all, the time",Home,Average,No,NaN,NaN,NaN,NaN,HTML/CSS;JavaScript,HTML/CSS;JavaScript;PHP,MySQL,MySQL,AWS;Linux;Windows,AWS;Linux;Windows,Drupal;jQuery;Ruby on Rails,Angular/Angular.js;Drupal;jQuery;Ruby on Rails...,Node.js,Node.js;Unity 3D,Eclipse;Notepad++;Visual Studio Code,Windows,I do not use containers,NaN,Useful for immutable record keeping outside of...,Yes,Also Yes,Yes,WhatsApp,Online,UserID,2012,A few times per week,Find answers to specific questions,1-2 times per week,Stack Overflow was much faster,60+ minutes,Yes,Less than once per month or monthly,"No, I didn't know that Stack Overflow had a jo...","No, and I don't know what those are","No, not really",Just as welcome now as I felt last year,Tech articles written by other developers;Cour...,29.0,Man,No,Straight / Heterosexual,East Asian,No,Too long,Easy
50878,51209,I am a developer by profession,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Secondary school (e.g. American high school, G...",NaN,Participated in a full-time developer training...,NaN,"Developer, full-stack",23,14,9,Very dissatisfied,Very dissatisfied,Very confident,Yes,I am already a manager,"I’m not actively looking, but I am open to new...",More than 4 years ago,Interview with people in peer roles;Interview ...,No,Office environment or company culture;Opportun...,I was preparing for a job search,USD,United States dollar,NaN,NaN,NaN,40.0,There is a schedule and/or spec (made by me or...,Being tasked with non-development work;Distrac...,Less than once per month / Never,Office,A little below average,"Yes, because I was told to do so",8.0,"No, and I'm glad we don't",NaN,I have some influence,HTML/CSS;JavaScript;PHP,NaN,Firebase;MySQL,NaN,Linux;Raspberry Pi;WordPress,NaN,jQuery;Vue.js,NaN,NaN,Node.js;Unity 3D,Atom;Coda;Notepad++;PHPStorm;Sublime Text;Text...,MacOS,I do not use containers,Not at all,Useful for immutable record keeping outside of...,Yes,"Fortunately, someone else has that title",Yes,Reddit,In real life (in person),Username,I don't remember,Daily or almost daily,Find answers to specific questions;Contribute ...,3-5 times per week,Stack Overflow was slightly faster,11-30 minutes,Yes,Less than once per month or monthly,"No, I knew that Stack Overflow had a job board...","No, I've heard of them, but I am not part of a...","Yes, definitely",Just as welcome now as I felt last year,Tech meetups or events in your area,38.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
58496,58867,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,"Yes, full-time",I never completed any formal education,NaN,NaN,10 to 19 employees,"Developer, back-end;Developer, desktop or ente...",1,18,1,Neither satisfied nor dissatisfied,Slightly dissatisfied,I don't have a manager,No,No,"I’m not actively looking, but I am open to new...",1-2 years ago,Write any code,No,"Languages, frameworks, and other technologies ...",I heard about a job opportunity (from a recrui...,INR,Indian rupee,NaN,NaN,NaN,NaN,There is a schedule and/or spec (made by me or...,Inadequate access to necessary tools;Lack of s...,"Less than half the time, but at least one day ...",NaN,A little above average,NaN,NaN,"No, but I think we should",Developers typically have the most influence o...,NaN,C;C#;HTML/CSS;JavaScript;SQL,C#;HTML/CSS;JavaScript;SQL,Firebase;Microsoft SQL Server,Firebase;Microsoft SQL Server;Oracle;SQLite,Microsoft Azure;Windows,Microsoft Azure;Windows,ASP.NET;jQuery,Angular/Angular.js;ASP.NET;jQuery,.NET;.NET Core;Xamarin,.NET;.NET Core;Node.js;Xamarin,NaN,Windows,Development,NaN,NaN,No,Yes,Yes,WhatsApp,Online,NaN,2016,Multiple times per day,Find answers to specific questions;Contribute ...,More than 10 times per week,Stack Overflow was much faster,NaN,Not sure / can't remember,NaN,"No, I knew that Stack Overflow had a job board...",NaN,Neutral,Somewhat more welcome now than last year,Tech articles written by other developers;Tech...,23.0,Man,NaN,NaN,NaN,NaN,Too long,Neither easy nor difficult
48871,49193,"I am not primarily a developer, but I write co...",No,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United Kingdom,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,2-9 employees,"Developer, full-stack;Engineering manager;Prod...",21,13,13,Slightly satisfied,Very satisfied,NaN,NaN,NaN,I am not interested in new job opportunities,More than 4 years ago,Interview with people in senior / management r...,No,Office environment or company culture;How wide...,"My job status changed (promotion, new job, etc.)",GBP,Pound sterling,NaN,NaN,NaN,45.0,There's no schedule or spec; I work on what se...,Being tasked with non-development work;Distrac...,About half the time,Office,Average,"Yes, because I see value in code review",1.0,"Yes, it's not part of our process but the deve...",Developers and management have nearly equal in...,I have a great deal of influence,Bash/Shell/PowerShell;C#;JavaScript;Python;R,Bash/Shell/PowerShell;F#;Go;JavaScript;Python;...,DynamoDB;Elasticsearch;MongoDB,Elasticsearch;MongoDB;Redis,AWS;Docker;Linux,AWS;Docker;Kubernetes;Linux,Express;React.js,Express;React.js,.NET;Node.js,Node.js;Pandas;React Native;TensorFlow;Torch/P...,PyCharm;Vim;Visual Studio Code,MacOS,Development;Testing;Production,Not at all,Useful across many domains and could change ma...,Yes,SIGH,Yes,YouTube,Online,Username,NaN,Multiple times per day,Find answers to specific questions,6-10 times per week,Stack Overflow was much faster,11-30 minutes,Yes,A few times per month or weekly,Yes,"No, I've heard of them, but I am not part of a...",Neutral,Just as welcome now as I felt last year,NaN,41.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Too long,Easy
34556,34771,I am a developer by profession,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Fine arts or performing arts (ex. graphic desi...,Taken an online course in programming or softw...,10 to 19 employees,"Developer, front-end",5,20,4,Very satisfied,Very satisfied,Very confident,No,Not sure,I am not interested in new job opportunities,1-2 years ago,Write any code;Interview with people in peer r...,No,"Languages, frameworks, and other technologies ...","My job status changed (promotion, new job, etc.)",USD,United States dollar,89000.0,Yearly,89000.0,35.0,There is a schedule and/or spec (made by me or...,"Non-work commitments (parenting, school work, ...",All or almost all the time (I'm full-time remote),"Other place, such as a coworking space or cafe",Average,"Yes, because I see value in code review",2.0,"Yes, it's part of our process",Developers and management have nearly equal in...,I have some influence,HTML/CSS;JavaScript;TypeScript,HTML/CSS;JavaScript;TypeScript,NaN,NaN,Android;iOS,Android;iOS,React.js,React.js;Vue.js,React Native,React Native,Android Studio;Visual Studio Code;Xcode,MacOS,Development,Not at all,Useful for immutable record keeping outside of...,No,SIGH,Yes,Instagram,In real life (in person),Username,2014,Daily or almost daily,Find answers to specific questions;Learn how t...,3-5 times per week,The other resource was slightly faster,11-30 minutes,Yes,A few times per month or weekly,Yes,"No, and I don't know what those are","No, not really",Just as welcome now as I felt last year,Tech articles written by other developers;Tech...,37.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
76288,76764,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Greece,"Yes, full-time",Some college/university study without earning ...,"Another engineering discipline (ex. civil, ele...",Taken an online course in programming or softw...,2-9 employees,"Developer, front-end",3,17,1,Very satisfied,Very satisfied,Very confident,Yes,Yes,I am not interested in new job opportunities,Less than a year ago,Solve a brain-teaser style puzzle,No,Office environment or company culture;Opportun...,I was preparing for a job search,EUR,European Euro,700.0,Monthly,9624.0,40.0,There is a schedule and/or spec (made by me or...,Being tasked with non-development work;Distrac...,A few days each month,Home,Far below average,No,NaN,"No, but I think we should",Developers typically have the most influence o...,I have a great deal of influence,HTML/CSS;Java;JavaScript,HTML/CSS;JavaScript;Python;TypeScript;WebAssembly,Firebase;MySQL,MariaDB;MongoDB;MySQL;PostgreSQL,Android;Docker;Heroku;Linux;Slack,Docker;Heroku;Linux;MacOS;Slack,Express;jQuery;React.js,Express;React.js,NaN,React Native;TensorFlow,Android Studio;Visual Studio,Linux-based,Development;Testing;Production,Not at all,Useful across many domains and could change ma...,Yes,Yes,Yes,Instagram,Online,UserID,2014,Daily or almost daily,Contribute to a library of information,More than 10 times per week,They were about the same,NaN,Yes,A few times per month or weekly,"No, I knew that Stack Overflow had a job board...","No, and I don't know what those are","Yes, definitely",A lot more welcome now than last year,Tech articles written by other developers;Tech...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
84561,85086,I am a developer by profession,Yes,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","A humanities discipline (ex. literature, histo...",Participated in a full-time developer training...,500 to 999 employees,"Designer;Developer, back-end;Developer, front-...",2,32,2,Very satisfied,Slightly satisfied,Somewhat confident,No,Not sure,"I’m not actively looking, but I am open to new...",1-2 years ago,"Write any code;Write code by hand (e.g., on a ...",No,Office environment or company culture;Remote w...,I was preparing for a job search,USD,United States dollar,87500.0,Yearly,87500.0,40.0,There's no schedule or spec; I work on what se...,Inadequate access to necessary tools;Lack of s...,Less than once per month / Never,Home,A little above average,No,NaN,"No, and I'm glad we don't",Developers and management have nearly equal in...,I have little or no influence,HTML/CSS;JavaScript;Python;SQL,Clojure;Go;JavaScript;Python;Ruby,MariaDB;MySQL;PostgreSQL,MariaDB;MongoDB;MySQL;PostgreSQL,Other(s):,Raspberry Pi;Other(s):,Django;Flask;jQuery,Django;jQuery;React.js,Node.js,Node.js;Pandas,Atom,MacOS,NaN,Not at all,Useful for immutable record keeping outside of...,No,SIGH,Yes,Reddit,In real life (in person),Username,2017,Daily or almost daily,Find answers to specific questions,3-5 times per week,Stack Overflow was much faster,0-10 minutes,Yes,I have never participated in Q&A on Stack Over...,Yes,"No, I've heard of them, but I am not part of a...",Neutral,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,34.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult

# Selecting Data From DataFrame 🔥🔥🔥

One of the things that is so much easier in Pandas is selecting the data you want in comparison to selecting a value from a list or a dictionary. You can select a column (df[col]) and return column with label col as Series or a few columns (df[[col1, col2]]) and returns columns as a new DataFrame. 


Let's See
# 🙈🙈🙈
We will now Select a series from the dataframe.
We will be writing the name of a column inside the square brackets, it's as simple as that

In [5]:
series = df['Country']

In [6]:
series

0                United Kingdom
1        Bosnia and Herzegovina
2                      Thailand
3                 United States
4                       Ukraine
                  ...
88878                    Canada
88879                       NaN
88880                       NaN
88881                       NaN
88882                     Spain
Name: Country, Length: 88883, dtype: object

# 🌀🌀🌀
###  Type
Using Type function we can check the datastructure.

In [7]:
type(series)

pandas.core.series.Series

In [8]:
type(df)

pandas.core.frame.DataFrame

## Relationship between Dataframe and Series
You might have probably noticed that a Series is rows from a single column.
So, a Dataframe is basically a container containing multiple series.
# 📦📦📦📦



The head, tail, sample functioin works for series as well
But obviously, info function won't work for series.
However, shape attribute can be used to check the number of rows.

In [9]:
series.head()

0            United Kingdom
1    Bosnia and Herzegovina
2                  Thailand
3             United States
4                   Ukraine
Name: Country, dtype: object

In [10]:
series.tail()

88878    Canada
88879       NaN
88880       NaN
88881       NaN
88882     Spain
Name: Country, dtype: object

In [12]:
series.sample()

80016    United States
Name: Country, dtype: object

In [13]:
series.info()

AttributeError: 'Series' object has no attribute 'info'

In [14]:
series.shape

(88883,)

## Selecting Multiple Columns from a Dataframe
If we select a single column from a dataframe, it will be series. And if we select more than one columns it will be a dataframe.

Okay, so let's make some mini dataframes

# 🎬🎬🎬🎬🎬

In [17]:
mini_df = df[['Student','Age','Gender']]

Hmm

Did you notice that we placed a list inside the square bracket.
If you did, you can give yourself a pat  on the back. 
# 👏🏻👏🏻👏🏻👏🏻
Remember, if you want to select multiple columns, you have to place the column names inside the list and place the list inside the square brackets.

In [18]:
mini_df

              Student   Age Gender
0                  No  14.0    Man
1      Yes, full-time  19.0    Man
2                  No  28.0    Man
3                  No  22.0    Man
4                  No  30.0    Man
...               ...   ...    ...
88878              No   NaN    Man
88879             NaN   NaN    NaN
88880             NaN   NaN    NaN
88881             NaN   NaN    NaN
88882  Yes, full-time  18.0    Man

[88883 rows x 3 columns]

### Columns Attribute

In [19]:
mini_df.columns

Index(['Student', 'Age', 'Gender'], dtype='object')

## Selecting rows from DataFrame

In [20]:
df.iloc[0]

Respondent                                                      1
MainBranch                 I am a student who is learning to code
Hobbyist                                                      Yes
OpenSourcer                                                 Never
OpenSource      The quality of OSS and closed source software ...
                                      ...
Sexuality                                 Straight / Heterosexual
Ethnicity                                                     NaN
Dependents                                                     No
SurveyLength                                Appropriate in length
SurveyEase                             Neither easy nor difficult
Name: 0, Length: 85, dtype: object

###### As you can see the index here are the column names.

###### Now for multiple rows

In [21]:
df.iloc[[0,1]]

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
1,2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult

### Now we will filter rows and columns simultaneously

The first arg inside iloc function will be used to filter rows and second will be used to filter columns

In [24]:
df.iloc[[0,1,2],6]

0            United Kingdom
1    Bosnia and Herzegovina
2                  Thailand
Name: Country, dtype: object

In [25]:
df.iloc [[0,1,2],[6,7,8]]

,Country,Student,EdLevel
0,United Kingdom,No,Primary/elementary school
1,Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G..."
2,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)"

### Now we will do the same thing using loc instead of iloc
We will see how they are different

In [27]:
df.loc [0]

Respondent                                                      1
MainBranch                 I am a student who is learning to code
Hobbyist                                                      Yes
OpenSourcer                                                 Never
OpenSource      The quality of OSS and closed source software ...
                                      ...
Sexuality                                 Straight / Heterosexual
Ethnicity                                                     NaN
Dependents                                                     No
SurveyLength                                Appropriate in length
SurveyEase                             Neither easy nor difficult
Name: 0, Length: 85, dtype: object

In [28]:
df.loc [[0,1]]

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
1,2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult

In [29]:
df.loc[[0,1],0]

TypeError: cannot do label indexing on <class 'pandas.core.indexes.base.Index'> with these indexers [0] of <class 'int'>

### Wait ✋✋✋✋✋✋

What just happened, why did we get an error.
It's because unlike iloc, loc takes the column names as argument.

Same is the case with row, but right now, our indices numerical values so it works the same as iloc. When we will learn how to change index, after a while longer, we will practice this feature again.


#### Now let's try using loc again, this time with column name

In [30]:
df.loc[[0,1,2],'Age']

0    14.0
1    19.0
2    28.0
Name: Age, dtype: float64

### It Works !!!!
# 🤩🤩🤩🤩🤩🤩

In [31]:
df.loc[[0,1,2],['Age','Country','Gender']]

    Age                 Country Gender
0  14.0          United Kingdom    Man
1  19.0  Bosnia and Herzegovina    Man
2  28.0                Thailand    Man

### Another Format of using iloc and loc

# ❇️ ❇️ ❇️ ❇️ ❇️ ❇️

Instead of [0,1,2] we can write 0:2 (This is applicable in both iloc and loc)

##### Note: We are not using square brackets now

In [33]:
df.loc[0:2,['Age','Country','Gender']]

    Age                 Country Gender
0  14.0          United Kingdom    Man
1  19.0  Bosnia and Herzegovina    Man
2  28.0                Thailand    Man

In [37]:
df.iloc[0:2,[3,4,5]]

,OpenSourcer,OpenSource,Employment
0,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work"
1,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work"

In [36]:
df.iloc[0:2,3:6]

,OpenSourcer,OpenSource,Employment
0,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work"
1,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work"

### Interesting Feature

# 🆒 😎😎😎😎😎

In [38]:
df.loc[[0,1,2],'Respondent':'Country']

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country
0,1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom
1,2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina
2,3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand

# Indexes 
# ✴️✴️✴️✴️

Default Indexes are just a range of numbers that are basically the integer identifier for the rows.
Sometimes it might make more sense to use a differnet identifier for the rows.


Pandas does not enforce indexes to be unique but it is a good practice to use unique identifiers.

let's create a mini_df and we will be using "Respondent" as "Index"

In [55]:
mini_df = df.loc[0:10,['Respondent','Student', 'Country']]

In [56]:
mini_df

    Respondent         Student                 Country
0            1              No          United Kingdom
1            2  Yes, full-time  Bosnia and Herzegovina
2            3              No                Thailand
3            4              No           United States
..         ...             ...                     ...
7            8             NaN                   India
8            9              No             New Zealand
9           10              No                   India
10          11  Yes, full-time     Antigua and Barbuda

[11 rows x 3 columns]

### As you can see Respondent is unique for each row, we will set it as the index

In [57]:
mini_df.set_index("Respondent")

                   Student                 Country
Respondent
1                       No          United Kingdom
2           Yes, full-time  Bosnia and Herzegovina
3                       No                Thailand
4                       No           United States
...                    ...                     ...
8                      NaN                   India
9                       No             New Zealand
10                      No                   India
11          Yes, full-time     Antigua and Barbuda

[11 rows x 2 columns]

### pssst ' Try typing mini_df in a cell and run it'
# 🙊  🙊  🙊  🙊

In [58]:
mini_df

    Respondent         Student                 Country
0            1              No          United Kingdom
1            2  Yes, full-time  Bosnia and Herzegovina
2            3              No                Thailand
3            4              No           United States
..         ...             ...                     ...
7            8             NaN                   India
8            9              No             New Zealand
9           10              No                   India
10          11  Yes, full-time     Antigua and Barbuda

[11 rows x 3 columns]

### What? This can't be right!!!

# 🤯  🤯   🤯   🤯   🤯

We just changed the index...... but......

Actually, Pandas do not usually do these changes inplace, unless we specifically tell it to do so.

### Pandas you evil monster

#  😈   😈   😈   😈   😈   

Well, it is actually nice because it allows us to experiment with the data without worrying about modifying our data.

In [59]:
mini_df.set_index("Respondent",inplace=True)

In [60]:
mini_df

                   Student                 Country
Respondent
1                       No          United Kingdom
2           Yes, full-time  Bosnia and Herzegovina
3                       No                Thailand
4                       No           United States
...                    ...                     ...
8                      NaN                   India
9                       No             New Zealand
10                      No                   India
11          Yes, full-time     Antigua and Barbuda

[11 rows x 2 columns]

### Easy Peasy Lemon Squeasy!!  Ahem Ahem!! Now let's get serious

# 😁  😁  😁  😁  😁  😁  😁  😁  😁  😁  😁  😁  😁

Now let's try filtering rows in loc and iloc again now that

In [64]:
mini_df.iloc[1:5]

                   Student                 Country
Respondent
2           Yes, full-time  Bosnia and Herzegovina
3                       No                Thailand
4                       No           United States
5                       No                 Ukraine

In [65]:
mini_df.loc[1:5]

                   Student                 Country
Respondent
1                       No          United Kingdom
2           Yes, full-time  Bosnia and Herzegovina
3                       No                Thailand
4                       No           United States
5                       No                 Ukraine

 See the difference iloc is still working with the default index while loc is working with the row identifier.
 
 And another thing:
 Did you note that in iloc 1:5 i five exclusive, while in loc 1:5 is 5 inclusive

In [66]:
mini_df.loc[0]

KeyError: 0

# ☝️ ☝️ ☝️ ☝️ 

You get an Error

In [67]:
mini_df.iloc[0]

Student                No
Country    United Kingdom
Name: 1, dtype: object

# ☝️ ☝️ ☝️ ☝️
In case of iloc, you don't get an error



### Hmm!  Interesting  🤔🤔🤔🤔🤔🤔🤔

### Consider I Hypothetical situation, you have changed the index of the dataframe with inplace true and now you want to return it to default index state...

#  😟😟😟😟😟😟😟😟😟

In [69]:
mini_df.reset_index(inplace=True)

In [70]:
mini_df

    Respondent         Student                 Country
0            1              No          United Kingdom
1            2  Yes, full-time  Bosnia and Herzegovina
2            3              No                Thailand
3            4              No           United States
..         ...             ...                     ...
7            8             NaN                   India
8            9              No             New Zealand
9           10              No                   India
10          11  Yes, full-time     Antigua and Barbuda

[11 rows x 3 columns]

### Phew!! It worked 😌😌😌😌😌😌😌😌

## Let's Wrap up this tutorial
### Last Thing

We can set any column as index when we are reading the csv file .. like this

In [71]:
df = pd.read_csv('developer_survey_2019/survey_results_public.csv',index_col='Respondent')

In [72]:
df

,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,...,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Respondent,,,,,,,,,,,
1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",...,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",...,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,...,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,...,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
...,...,...,...,...,...,...,...,...,...,...,...
88601,NaN,No,Never,The quality of OSS and closed source software ...,NaN,...,NaN,NaN,NaN,NaN,NaN
88802,NaN,No,Never,NaN,Employed full-time,...,NaN,NaN,NaN,NaN,NaN
88816,NaN,No,Never,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",...,NaN,NaN,NaN,NaN,NaN
88863,NaN,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...","Not employed, and not looking for work",...,Straight / Heterosexual,Hispanic or Latino/Latina;White or of European...,No,Appropriate in length,Easy

## That's all Folks!!

#  🐰  🐰  🐰  🐰  🐰